.beispiel1 {
    font-family: 'Brush Script MT';
    background-color: yellow;
    color: blue;
    font-size: 30px;
    text-align: right;
    text-decoration: underline;
    text-decoration-color: purple;
    text-decoration-thickness: 5px;
    border: dotted 10px red;
    margin-left: 2px;
    padding: 50px;
    height: 30px;
    width: 50%;
    border-radius: 80px;
}

table.beispiel2 {
    border-collapse: collapse;
    width: 100%;
    border: solid 5px red;
}

table.beispiel2 td {
    padding: 8px;
    text-align: left;
    border: solid 2px purple;
}

table.beispiel2 th {
    padding: 20px;
    text-align: right;
    background-color: yellow;
    border: solid 2px blue;
}

table.beispiel2 td:hover {
    background-color: green;
    color: white;
}

.code-wrapper {
    position: relative;
    margin-bottom: 20px;
}

.code-label {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 2px 10px;
    font-size: 0.9em;
    border-bottom-left-radius: 8px;
}