.beispiel1 {
    background-color: tomato;
    color: darkblue;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    border: solid 2px blue;
    margin: auto;
    padding: 50px;
    height: 50px;
    width: 50%;
    border-radius: 20px;
}

.code-wrapper {
    position: relative;
    margin-bottom: 20px;
}

.code-label {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 2px 10px;
    font-size: 0.9em;
    border-bottom-left-radius: 8px;
}